@font-face {
  font-family: "montsterrat-bold";
  src: url("/assets/fonts/montserrat-bold-webfont.woff");
}
@font-face {
  font-family: "montserrat-reg";
  src: url("/assets/fonts/montserrat-regular-webfont.woff");
}
@font-face {
  font-family: "scp-black";
  src: url("/assets/fonts/SourceCodePro-Black.ttf");
}
@font-face {
  font-family: "scp-bold";
  src: url("/assets/fonts/SourceCodePro-Bold.ttf");
}
@font-face {
  font-family: "scp-light";
  src: url("/assets/fonts/SourceCodePro-Light.ttf");
}
@font-face {
  font-family: "scp-medium";
  src: url("/assets/fonts/SourceCodePro-Medium.ttf");
}
@font-face {
  font-family: "scp-reg";
  src: url("/assets/fonts/SourceCodePro-Regular.ttf");
}
