<section class="top-panel">
  <div class='logo-wrapper'>
    <h1 class="offscreen">
      Koduje Front-End Recipes
    </h1>
    <a 
      href="/" 
      class='logo-img'></a>
  </div>
  <form class="search-form desktop-only">
    <a-input
      type="text"
      placeholder="Wyszukaj"
      class="search-input"
    />
  </form>
  <div class="icons-wrapper">
    <div class="no-desktop">
      <a class="icon search-icon"></a>
      <div class="v-separator no-mobile"></div>
    </div>
    <a class="icon link-icon no-mobile"></a>
    <a class="icon fb-icon no-mobile"></a>
    <a class="icon twitter-icon no-mobile"></a>
    <a class="icon yt-icon no-mobile"></a>
  </div>
</section>
