.top-panel {
  display: inline-flex;
  position: fixed;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #696e9e;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  @media only screen and (min-width: 1025px) {
    background-color: #fff;
  }
}
