@import '../../../scss/_variables';

.o-topbar {
  display: flex;
  justify-content: space-between; 
  font: 15px "scp-reg";
}

.o-topbar_logo {
  $size: 50px;
  max-height: $size;
}

.o-topbar_date {
  color: $c-green;
}
