<div class="newsletter-container">
  <form class="newsletter-form" method="post">
    <div class="separator desktop-only"></div>
    <span class="newsletter-text desktop-only">
      Dołącz do naszej społeczności i bądź na bieżąco z nowinkami ze świata Front-endu oraz pogłębiaj z nami swoją wiedzę.</span>
    <span
      class="newsletter-text"> Zapisz się do naszego newslettera już teraz.
      </span>
      <button class="btn btn--cta no-desktop">Dołącz do Nas</button>
      <fieldset class="newsletter desktop-only">
        <a-input placeholder="Twój adres E-mail" />
        <a-button :content="'Dołącz do nas'" />
      </fieldset>
  </form>
</div>
